#top {
    position: relative;
    background-color: #a80000;
    color: #a80000;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

#bottom {
    position: relative;
    background-color: #000000;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.marka {
    margin: 16px auto;
    margin-left: 85px;
    padding: 3px auto;
    padding-top: 0%;
    background: #4bb500;
}

.center_content {
    position: relative;
    background-color: #dedede;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

#image:hover {
    background-size: cover;
    filter:brightness(0.4);
}

